.container {
    margin: auto;
    margin-top: 35px;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FA8072;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #00A86B;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(90deg, #034ea1 0, #00b7ac);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white; /* Add this line to change the font color to white */
    font-size: 18px; /* Add this line to set the font size to 18px */
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #333;
}
